
<header>
    <div class="header-container">
        <div class="header">
            <div class="profile">
                <img src="/img/joseph.png" alt="joseph" class="profile-image">
                <p class="profile-description">
                    Hello, I'm Your Name. I'm a passionate web developer with a love for building
                    beautiful and functional websites.
                    <div class="social-links">
                        <a href="https://github.com/yourusername" target="_blank"><img src="/img/github.png" alt="GitHub" class="logo"></a>
                        <a href="https://twitter.com/yourusername" target="_blank"><img src="/img/github.png" alt="Twitter"
                                class="logo"></a>
                        <a href="https://linkedin.com/in/yourusername" target="_blank"><img src="/img/linkedin.png" alt="LinkedIn"
                                class="logo"></a>
                    </div>
                </p>
                
            </div>
            
        </div>
    </div>
</header>