body {
    font-family: Trebuchet MS, sans-serif;
    font-size: 22px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ded6ae; 
    color: rgb(0, 0, 0); 
}






.job-icon {
    height: 40px;  /* Adjust the size as needed */
    width: auto;   /* Adjust the size as needed */
    vertical-align: middle;
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.job-icon:hover {
    transform: scale(1.1);  /* Increase the size by 50% on hover */
}

.project-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.project {
    flex-basis: 30%; /* Adjust as needed for spacing */
}

.project-image {
    width: 90%;
    height: auto;
    transition: transform 0.3s ease;
}

.project-image:hover {
    transform: scale(1.05); /* Slightly enlarges the image on hover */
}

.project-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

.img-simple {
    width: 100px;       /* Set the width of the image to 100px */
    display: block;     /* Makes the image block level for easy centering */
    margin: 0 auto;     /* Centers the image in its container */
    border: none;       /* Removes any border from the image */
}
  
.small-image {
    width: 40%; /* or any size you prefer */
    height: auto; /* keeps the aspect ratio intact */
    display: inline-block; /* places images next to each other */
    margin-right: 10px; /* optional, adds some space between the images */
}

.centered-container {
    text-align: center; /* centers inline elements like images */
}

/* center IG emebed */
blockquote {
    margin: 0;
    padding: 0;
    text-align: center;
}

  



@media (max-width: 1000px) {
    .container {
        width: 90%;
    }

    .profile-image {
        margin-left: 0;
        width: 60%;
        display: block;
        margin: auto;
    }

    .content-container {
        flex-direction: column;
    }

    p {font-size: 16px;}
    h1 {font-size: 35px;}
    h2 {font-size: 25px;}
    h3 {font-size: 20px;}
}